@model TimetablingSystem1.Models.RoundModel
@using System.Web.Optimization

@{
    ViewBag.Title = "Index";
}

<h2>View1</h2>
 
<script type="text/javascript">
    $(document).ready( function () {

        $("#rounds_EndDate").datepicker({ dateFormat: 'dd/mm/yy' });

    });

</script>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <legend>Current Rounds</legend>
<table>
    
        

        @foreach (var item in Model.currentRounds)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Text)</td>
               <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.rounds.EndDate, "Set end date for Round")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.rounds.EndDate, new { id = "EndDate" })
                    @Html.ValidationMessageFor(model => model.rounds.EndDate)
                </div>
                </td>
                <td><input type="button" value="End Round Now" id="endRound"/></td>
                
            </tr>
            
            
        }
</table>

       

        
        
        <p>
            <input type="submit" value="Create" />
        </p>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>




